.page {
    background-color: #102f54;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box {
    background-color: white;
    width: 80%;
    max-width: 1200px;
    padding: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

h1 {
    color: #102f54;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.image-container {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.logo1 {
    width: 70px;
}

.trophy-container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.logo2 {
    width: 300px;
}

.finish-button {
    background-color: #FFC107;
    color: #102f54;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;  /* Posiciona o botão de forma absoluta */
    bottom: 30px; /* Distância da parte inferior da caixa */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
}

.finish-button:hover {
    background-color: #ffb300;
}

.text-box {
    position: absolute;
    bottom: 90px; /* Ajuste a distância da parte inferior */
    left: 20px; /* Alinha à esquerda do cartão */
    background-color: #f4f4f4; 
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    font-size: 14px; /* Ajuste o tamanho da fonte */
    text-align: left; /* Alinha o texto à esquerda */
}

.text-box p {
    margin: 5px 0; /* Espaçamento entre as linhas */
    color:#102f54;
    font-weight: bold;
}